$primery-tex-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$logo-color: #000000;
$main-bg-color: #ffffff;
$bg-color-dark: #2f303a;
$bg-color-lightest: #f5f4fa;
$white-color: #ffffff;
$color-focused: #188ce8;
$footer-tx-color: rgba(255, 255, 255, 0.6);
$networks-icon-color: #afb1b8;

$range: 30px;
$section-padding: 94px;

// breakpoints

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
